apiVersion: v1
kind: Service
metadata:
  name: {{ include "flightservice.fullname" . }}
  labels:
    {{- include "flightservice.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
{{- if .Values.service.nodePort }}
      nodePort: {{ .Values.service.nodePort }}
{{- end }}
  selector:
    {{- include "flightservice.selectorLabels" . | nindent 4 }}
